.header{
    background-color: white;
    width: 100%;
}

.innerbody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 10px 0px;
}

.header .Logo{
    max-width: 100px;
}

.header .Logo img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.List ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.List ul a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.List ul li{
    list-style-type: none;
    color: black;
    font-weight: 700;
}

@media screen and (max-width:700px) {
    
    .innerbody{
        width: 95%;
        padding: 10px 0px;
    }
    
    .header .Logo{
        max-width: 100px;
    }
    
    
    .List ul{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
    .List ul a{
        text-decoration: none;
        color: black;
        font-weight: 700;
    }
    
    .List ul li{
        list-style-type: none;
        color: black;
        font-weight: 700;
        font-size: 0.9rem;

    }
}