.Head {
    height: 100vh;
    width: 100vw;
    background-image: url("../../../public/assets/BG.gif");
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.HeadText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: right;
    color: white;
    width: 100%;
}

.InnerText{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 55%;
    margin-right: 3%;
}

.HeadText h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.HeadText h2 {
    margin-top: 10px;
    font-size: 2.2rem;
    font-weight: 600;
}

.HeadText p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
}

.startbtn {
    border: 3px solid white;
    border-radius: 1120px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: transparent;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}

.startbtn::after {
    background-color: white;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
}

.startbtn:hover::after {
    transform: translate(0, 0);
}

.startbtn:hover {
    border: 2px solid transparent;
    color: black;
    transform: scale(1.05);
    will-change: transform;
}


@media screen and (max-width:1100px) {
    .Head {
        background-image: url("../../../public/assets/BGTablet.gif");
    }

    .InnerText{
        width: 50%;
        margin-right: 3%;
    }
    
    .HeadText h1 {
        font-size: 2.5rem;
    }

    .HeadText h2 {
        margin-top: 10px;
        font-size: 1.5rem;
    }
    
    .HeadText p {
        font-size: 1.5rem;
    }
    
    .startbtn {
        font-size: 1.5rem;
    }
    
    
}

@media screen and (max-width:850px){
    .Head {
        background-image: url("../../../public/assets/BGMobile.gif");
    }
    .HeadText {
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    .InnerText{
    text-align: center;

        align-items: center;
        margin: auto;
        margin-top: 5%;
        width: 90%;
    }  
    .HeadText h1 {
        font-size: 2.3rem;
    }

    .HeadText h2 {
        font-size: 1.8rem;
    }
    
    .HeadText p {
        font-size: 1.5rem;
    }
    
    .startbtn {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:650px) {      
    .HeadText {
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    .InnerText{
        margin: auto;
        margin-top: 5%;
        width: 90%;
    }  
    
    .HeadText h1 {
        font-size: 1.4rem;
        width: 100%;
    }

    .HeadText h2 {
        font-size: 1.1rem;
        width: 100%;
    }
    
    .HeadText p {
        width:100%;
        font-size: 1rem;
    }
    
    .startbtn {
        font-size: 1.2rem;
    }
    
}


@media screen and (max-width:300px) {    
    
    .HeadText h1 {
        font-size: 1rem;
    }
    
    .HeadText p {
        font-size: 0.8rem;
    }
    
    .startbtn {
        font-size: 0.9rem;
    }
    
}