.PasswordBody{
    background-color: #1848a0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.UpdatePassword{
    width: 30%;
    background-color: white;
    margin: 50px 50px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

 .Input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

 .Input label{
    font-size: 1.5rem;
    font-weight: 600;
}

 .Input input{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.Input input::placeholder{
    color: rgb(180, 180, 180);
}

.BtnLog{
    width: fit-content;
    padding: 15px 30px;
    background-color: #0881fe;
    color:white;
    border: none;
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    font-family: 'Source Sans 3', sans-serif !important;

}

.BtnLog:hover{
    background-color: #1848a0;
    border-radius: 20px;
    transform: translateY(-5px);
    color: white;
    transition: 0.3s ease-in-out;
}


@media screen and (max-width:1100px) {
    .UpdatePassword{
        width: 50%;
        background-color: white;
        margin: 50px 50px;
        padding: 20px;
        gap: 20px;
    }
}

@media screen and (max-width:650px) {

    .UpdatePassword{
        width: 85%;
        margin: 50px auto;
        gap: 10px;
    
    }
    
    
     .Input label{
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    
}